
.app-container {
  background-image: url('/public/bg1.webp'); /* If inside `public/` */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full screen */
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow vertical scrolling */
}
.main-container{
  flex: 1; /*take up remaining space*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 20px;

}
.container1{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  width: 75%;
  padding: 20px;
  border-radius: 15px;
}
.pet{
  height: 40vh;
  width: 25vw; 
}
.container2{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #b3ebf2;
  width: 75%;
  padding: 20px;
  border-radius: 15px;

}
/*
.countdown{
  background-color: aliceblue;
  color: red;
}
*/
/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/